SESSION_SECRET = ella-rises-production-secret-key-change-this-in-production
PORT = 3000
NODE_ENV = development

# Database Configuration
RDS_HOSTNAME = 'localhost'
RDS_USERNAME = 'postgres'
RDS_PASSWORD = 'rml65'
RDS_DB_Name = 'local_intex'
RDS_PORT = 5432