<!-- dis is da header. it shows up wherever we tell it to -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="nav-bar">

<!-- it has a signup link which takes you to a form which, when submitted, adds you to the credentials and the members tables. -->
<!-- login link does what you'd expect. both of these only show up if you're not logged in. -->
  <% if (!user) { %>
    <div class="top-auth-bar">
      <div class="auth-links">
        <a href="/signUp">Sign up</a>
        <a href="#">|</a>
        <a href="/login">Log in</a>
      </div>

<!-- but if you are logged in, you get profile and log out buttons. -->
    </div>
    <% } else { %>
    <div class="top-auth-bar">
      <div class="auth-links">
        <a href="/user_profile/<%= user.userID %>">Profile</a>
        <a href="#">|</a>
        <a href="/logout">Log out</a>
      </div>
    </div>
    <% } %>
    
<!-- below that is a separate bar for navigation. The icon send you to index. -->
    <nav class="pink-nav">
     
      <div class="nav-logo">
        <a href="/"><img src="https://elasticbeanstalk-us-east-2-343989049654.s3.us-east-2.amazonaws.com/images/ellariseslogo2.png" alt="Ella Rises Logo"></a>
      </div>
    
    
<!-- donations and donate are visible to everyone. milestones and events are only visible to participants/admins. the rest are admin-only. -->        
        <div class="nav-links">
          <div class="nav-link-indi"><a href="/donations">Donations</a></div>
        
          <% if (user && (user.userRole === "admin" || user.userRole === "participant")) { %>
            <div class="nav-link-indi"><a href="/milestones">Milestones</a></div>
            <div class="nav-link-indi"><a href="/events">Events</a></div>
          <% } %>
        
          <% if (user && user.userRole === "admin") { %>
            <div class="dropdown">
              <button class="dropdown-btn">
                Admin <span class="dropdown-arrow"><i class="fa-solid fa-angle-down"></i></span>
              </button>            
              <div class="dropdown-content">
                <a href="/users">Manage Users</a>
                <a href="/eventEdit">Add Event</a>
                <a href="/surveys">Surveys</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/teapot">Teapot</a>
              </div>
            </div>
          <% } %>
        </div>

        <div>
          <a href="/donationform" class="donate-btn">Donate</a>
        </div>
         
    </nav>
</div>
<!-- cheers -->