<!-- Top white bar (only for visitors) -->
<% if (!user) { %>
  <div class="top-auth-bar">
    <div class="auth-links">
      <a href="/register">Register</a> 
      <a href="#">|</a>
      <a href="/login">Log in</a>
    </div>
  </div>
  <% } else { %>
  <div class="top-auth-bar">
    <div class="auth-links">
      <a href="/profile">Profile</a> |
      <a href="/logout">Log out</a>
    </div>
  </div>
  <% } %>
  
  <!-- Pink navigation bar -->
  <nav class="pink-nav">
    <% if (!user) { %>
      <div class="nav-logo">
          <img src="/images/ella-rises-logo-2.png" alt="Ella Rises Logo">
      </div>
    <% } else { %>
      <div>
        <img src="/images/ella-rises-logo.png" alt="Ella Rises Logo">
      </div>
      <% } %>
  
      <% if (user) { %>
      <div class="nav-links">
          <a href="/participants">Participants</a>
          <a href="/events">Events</a>
          <a href="/surveys">Surveys</a>
          <a href="/milestones">Milestones</a>
          <a href="/donations">Donations</a>
          <a href="/donate" class="donate-btn">donate</a>
      </div>
      <% } %>
  </nav>
  