<!-- Add admin-only button to admin.ejs -->
<div class="nav-bar">
  <!-- Top white bar (only for visitors) -->
  <% if (!user) { %>
    <div class="top-auth-bar">
      <div class="auth-links">
        <a href="/signUp">Sign up</a> 
        <a href="#">|</a>
        <a href="/login">Log in</a>
      </div>
    </div>
    <% } else { %>
    <div class="top-auth-bar">
      <div class="auth-links">
        <a href="/user_profile/<%= locals.user.userID %>">Profile</a>
        <a href="/logout">Log out</a>
      </div>
    </div>
    <% } %>
    
    <!-- Pink navigation bar -->
    <nav class="pink-nav">
      <% if (!user) { %>
        <div class="nav-logo">
            <a href="/"><img src="/images/ellariseslogo2.png" alt="Ella Rises Logo"></a>
        </div>
      <% } else { %>
        <div>
          <a href="/"><img class="logo-stuff" src="/images/ellariseslogo.png" alt="Ella Rises Logo"></a>
        </div>
        <% } %>
    
        
        <div class="nav-links">
          <a href="/events">Events</a>  
          <a href="/milestones">Milestones</a>
          <a href="/donations">Donations</a>
          <!-- to be made admin-only -->
          <a href="/admin">Admin Portal</a>
        </div>

        <div>
          <a href="/donationform" class="donate-btn">donate</a>
        </div>    
    </nav>
</div>  