<!-- This page should only be visible to logged-in admins. -->
<!-- This page should include, at minimum, links to donations.ejs and surveys.ejs and users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Admin Dashboard</h1>

  <ul>
    <li><a href="/users">Manage Users</a></li>
    <li><a href="/surveys">View Surveys</a></li>
  </ul>
</body>
</html>