<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You fool! You've activated my trap card!</title>
</head>
<body>
    
<h1>Error 418 — I'm a Teapot</h1>
<p><%= message %></p><br><br>
<p>as a bit of an easter egg, the route for this page isn't locked behind admin credentials, even though the link on the page is.</p>
<iframe width="836" height="479" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"></iframe>
<br><br>
<a href="/">go back</a>

</body>
</html>