<!-- This is a dummy page that a user is redirected to on successful log-in. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome, <%= user.email %>!</h1>
  <p>You are now logged in.</p>
  <a href="/logout">Logout</a>
</body>
</html>
